
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap');

body {
    font-family: 'Vazirmatn', sans-serif;
    font-weight: 400;
}


.form-label {
    font-weight: 500;
}


.dropdown-menu {
    left: 0 !important;
    right: auto !important;
}


.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}




.mermaid .gantt-chart .left-text-wrapper {
    width: 120px !important;
}


.mermaid .gantt-chart .task {
    stroke: #5a67d8;
    fill: #8c9eff;
}


.mermaid .gantt-chart .task-text {
    fill: #2d3748;
    font-weight: bold;
}